.gamepage {
  height: 100vh;
  background-color: whitesmoke;
}
.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board-border-box {
  box-shadow: 0 0 5px 0px grey;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}
.gamers {
  padding: 2rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  margin: 0 1rem;
}
.score-board {
  background-color: white;
  border-radius: 18px;
  padding: 6px 14px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 0 10px 0 grey;
}
@media only screen and (max-width: 768px) {
  .board-border-box {
    padding: 10px;
  }
}
